NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_key
SUPABASE_SECRET_KEY=sb_secret_your_key
BITRIX24_WEBHOOK_SECRET=troque-por-um-segredo-forte
BITRIX24_BASE_URL=https://sua-conta.bitrix24.com.br/rest
BITRIX24_FILTER_CATEGORY_ID=36
BITRIX24_FILTER_STAGE_ID=C36:NEW
BITRIX24_ROULETTE_FIELD=UF_CRM_1726667595972
BITRIX24_ROULETTE_TAG=Focus
BITRIX24_POOL_NAME=Bolsão
BITRIX24_SUPERINTENDENCY_DEPARTMENT_ID=444
BITRIX24_DIRECTORATE_DEPARTMENT_ID=442
BITRIX24_TEAM_DEPARTMENT_IDS=454,448,551
